# npm
node_modules

# deploy & configs
deploy/*
!deploy/README.md
!deploy/db
config/secret/*
!config/secret/README.md

# custom app
apps/app-*
!apps/app-template

# database stores
*.sqlite3

coverage
*.tgz

# Log files
npm-debug.log*
# apple stuff
.DS_Store
# Editor directories and files
.idea
.vscode
