.DS_Store
node_modules
package-lock.json

web/dist
api/dev.sqlite3
.rnd

# local env files
.env
.env.*

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
