.DS_Store
dist
node_modules
**/cfg.json
**/firebase.json
**/.firebaserc

package-lock.json
*.tgz
dist
dev.sqlite3
.rnd

# Log files
npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# local env files
.env
.env.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
