.DS_Store
dist
.nuxt
node_modules
coverage
**/.firebaserc

package-lock.json
*.tgz
dist
dev.sqlite3
.env.*
.rnd

# Log files
npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# REMOVE BELOW THIS LATER
# **/cfg.json
# local env files - allow this in our opensource project
# .env
