# npm
node_modules
#snowpack
web_modules
# files not to be committed
secret

.DS_Store
dist
build
.nuxt
coverage

package-lock.json
*.tgz
dist
dev.sqlite3
.rnd

# Log files
npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
