# please rename to .env.development
SECRET_KEY=123456789
OTP_SECRET_KEY=987654321
KEY_EXPIRY=1h
OTP_SERVICE_NAME=Test Service
TELEGRAM_BOT_ID=
TELEGRAM_API_KEY=
# USE_OTP=GA
USE_OTP=
API_PORT=3000
WS_PORT=3001
# USE_HTTPS=./certs
USE_HTTPS=
# KEYV_CACHE=redis://localhost:6379
KEYV_CACHE=
# mongodb://{USER}:{PASSWORD}@{HOST}:{PORT}/{DBNAME}?authMechanism=SCRAM-SHA-1&authSource={AUTH_DBNAME}
# MONGO_URL=mongodb://127.0.0.1:27017/mm?replicaSet=rs0
MONGO_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
