# npm
node_modules

# deploy
deploy/*
!deploy/README.md
!deploy/db

# custom app
apps/app-*
!apps/app-template

# secret configs
.env.secret

# database stores
*.sqlite3

coverage
*.tgz

# Log files
npm-debug.log*
# apple stuff
.DS_Store
# Editor directories and files
.idea
.vscode
